extends layout

block content
  h1= title
  h3= lastSync

  h2= "General statistics"

  table
    thead
      each header in generalHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in generalStats
        tr
          td=collectionName
          td=collectionStats.total_volume
          td=collectionStats.total_sales
          td=collectionStats.total_supply
          // (araragao): unwanted information
          // td=collectionStats.count
          td=collectionStats.num_owners
          td=collectionStats.average_price
          // (araragao): unwanted information
          // td=collectionStats.num_reports
          td=collectionStats.market_cap
          td=collectionStats.floor_price
  
  h2= "One Hour"

  table
    thead
      each header in timeFramesHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in oneHourStats
        tr
          td=collectionName
          td=collectionStats.change
          td=collectionStats.sales
          td=collectionStats.sales_change
          td=collectionStats.average_price
          td=collectionStats.difference
          td=collectionStats.volume
    
  h2= "Six Hours"

  table
    thead
      each header in timeFramesHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in sixHoursStats
        tr
          td=collectionName
          td=collectionStats.change
          td=collectionStats.sales
          td=collectionStats.sales_change
          td=collectionStats.average_price
          td=collectionStats.difference
          td=collectionStats.volume
    
  h2= "One Day"

  table
    thead
      each header in timeFramesHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in oneDayStats
        tr
          td=collectionName
          td=collectionStats.change
          td=collectionStats.sales
          td=collectionStats.sales_change
          td=collectionStats.average_price
          td=collectionStats.difference
          td=collectionStats.volume

  h2= "Seven Days"

  table
    thead
      each header in timeFramesHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in sevenDayStats
        tr
          td=collectionName
          td=collectionStats.change
          td=collectionStats.sales
          td=collectionStats.sales_change
          td=collectionStats.average_price
          td=collectionStats.difference
          td=collectionStats.volume

  h2= "Thirty Days"

  table
    thead
      each header in timeFramesHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in thirtyDaysStats
        tr
          td=collectionName
          td=collectionStats.change
          td=collectionStats.sales
          td=collectionStats.sales_change
          td=collectionStats.average_price
          td=collectionStats.difference
          td=collectionStats.volume

