extends layout

block content
  h1= title
  h3= lastSync

  h2= "General statistics"

  table
    thead
      each header in generalHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in generalStats
        tr
          td.align-left=collectionName
          td.align-right=collectionStats.floor_price
          td.align-right=collectionStats.market_cap
          td.align-right=collectionStats.total_supply
          td.align-right=collectionStats.num_owners

  h2= "All time"

  table
    thead
      each header in staticTimeFramesHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in generalStats
        tr
          td.align-left=collectionName
          td.align-right=collectionStats.total_volume
          td.align-right=collectionStats.total_sales
          td.align-right=collectionStats.average_price
  
  h2= "∆ 1 Hour"

  table
    thead
      each header in dynamicTimeFramesHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in oneHourStats
        tr
          td.align-left=collectionName
          td.align-right=collectionStats.volume
          td.align-right=collectionStats.change
          td.align-right=collectionStats.sales
          td.align-right=collectionStats.sales_change
          td.align-right=collectionStats.average_price
          td.align-right=collectionStats.difference
    
  h2= "∆ 6 Hours"

  table
    thead
      each header in dynamicTimeFramesHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in sixHoursStats
        tr
          td.align-left=collectionName
          td.align-right=collectionStats.volume
          td.align-right=collectionStats.change
          td.align-right=collectionStats.sales
          td.align-right=collectionStats.sales_change
          td.align-right=collectionStats.average_price
          td.align-right=collectionStats.difference

  h2= "∆ 1 Day"

  table
    thead
      each header in dynamicTimeFramesHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in oneDayStats
        tr
          td.align-left=collectionName
          td.align-right=collectionStats.volume
          td.align-right=collectionStats.change
          td.align-right=collectionStats.sales
          td.align-right=collectionStats.sales_change
          td.align-right=collectionStats.average_price
          td.align-right=collectionStats.difference

  h2= "∆ 7 Days"

  table
    thead
      each header in dynamicTimeFramesHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in sevenDayStats
        tr
          td.align-left=collectionName
          td.align-right=collectionStats.volume
          td.align-right=collectionStats.change
          td.align-right=collectionStats.sales
          td.align-right=collectionStats.sales_change
          td.align-right=collectionStats.average_price
          td.align-right=collectionStats.difference

  h2= "∆ 30 Days"

  table
    thead
      each header in dynamicTimeFramesHeaders
          th #{header}
    tbody
      each collectionStats, collectionName in thirtyDaysStats
        tr
          td.align-left=collectionName
          td.align-right=collectionStats.volume
          td.align-right=collectionStats.change
          td.align-right=collectionStats.sales
          td.align-right=collectionStats.sales_change
          td.align-right=collectionStats.average_price
          td.align-right=collectionStats.difference

